* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: rgb(253, 193, 124);
}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: rgb(253, 193, 124);
}
